/*-------------------------------------*/
/*General*/
/*-------------------------------------*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Francois One';
    background-color: #333;
    background: url("back.jpg") no-repeat center center fixed;
    background-size: cover;
}
.mid
{
    font-size: 90px;
    color: #7FFF00;
	padding-top: 250px;
	  height: 50px;
  line-height: 50px;
  text-align: center;

}

.titlu{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    color: #7FFF00;
	  height: 50px;
  line-height: 50px;
  text-align: center;
  }

  .liste{
    list-style-type: "→ ";
    padding-top: 90px;
      padding-left: 100px;
    font-size: 22px;
    color:white;
      height: 50px;
      padding-bottom: 400px;
  }

  .liste a{
       color: #7FFF00;
  }
p{
    text-align: justify;
    text-indent: 50px;
    text-justify: inter-word;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
  font-size: 1.5rem;
  color:white;
  font-family: Helvetica, Arial, sans-serif;
}
img {
    display: block;
    margin-left: auto;
    padding-top: 80px;
    margin-right: auto;
    width: 50%;
    width: 700px;
    height: 400px;
  }
/*-------------------------------------*/
/*Navbar*/
/*-------------------------------------*/
.navbar {
    padding: 20px 10px;
    top: 0;
}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;

}

.navbar img {
    width: 70px;
    height: 45px;
}

.navbar a:hover {
    border-bottom: 2px solid #7FFF00;

}

.navbar-right {
    float: right;
}

.button {
    margin: 0 auto;
    display: block;
    height: 40px;
    width: 100px;
    background-image: linear-gradient(to left, #ffa41b 0%, #df7861 100%);
    border-image: linear-gradient(to left, #ffa41b 0%, #df7861 100%);
    border-image-slice: 1;
    border-width: 4px;
    font-size: 30px;
    font-family: 'Courgette';
    color: #fff;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    margin-bottom: 35px;
}


.button:hover {
    border-image: linear-gradient(to left, #feb377 0%, #feb377 100%);
    background-image: linear-gradient(to left, #feb377 0%, #feb377 100%);
    border-image-slice: 1;
    border-width: 4px;
    cursor: pointer;
}


